* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}


:root {
  --bg-color: #07BED6;
  --bg-color2:#B2EBF2;
  --nav-color:#fff;
  --text-color:#fff;
  --main-color:black;
  --main-color2:#152445;
}

html {
    font-size: 72.5%;
    /* overflow: hidden; */
 }

 /* Navbar */

 .Header {
  position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   padding: 2rem 5%;
   background: transparent;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 100;
   background: var(--nav-color);
}
.Header h1 {
  font-size: 2rem;
  color: var(--main-color);
}

.Header nav {
  position: relative; 
}

.Header nav a {
  font-size: 1.3rem;
   color: var(--main-color);
   font-weight: 500;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-left: 3.5rem;
   text-decoration: none;
}


/* Home  */

.Home {
  position: relative;
  width: 100%;
  /* height: auto; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  padding-top: 8rem;
  overflow: hidden;
  /* padding: 12rem 5% 2rem; */
}

.container-home {
  position: relative;
  min-width: 70%;
  background: var(--bg-color);
}

.container-home h1 {
  font-size: 9rem;
  /* font-weight: 400; */
  padding: 10rem 5% 2rem; 

  color: var(--text-color);
}

.container-home p {
  color: var(--text-color);
  padding: 0 5% 2rem;
  font-size: 1.5rem;
}

.btn {
  padding: 0 5% 2rem;
}

.btn button {
  width: 10rem;
  height: 6vh;
  border-radius: 20px;
  color: var(--text-color);
  background: var(--main-color2);
  cursor: pointer;
}

.btn button:hover {
  background: var(--bg-color2);
  color: var(--main-color2);
}

.container-home2 {
  position: relative;
  min-width: 30%;
  background: var(--bg-color2);
}

.container-home2 img {
  position: absolute;
  max-width: 62rem;
  right: -5rem;
  padding: 1rem 5% 2rem;
}


/* footer  */
.Foot {
  width: 100%;
  height: 5rem;
  bottom: 0;
  background: var(--bg-color);
 }

 .Foot p {
  color: var(--text-color2);
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  align-items: center;
  /* min-height: 100vh; */
  margin-top: 40rem;
  padding: 2rem 5% 2rem;
  
 }

 




